<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :bed %>
  <%= f.text_field :bed %>

  <%= f.label :mrn %>
  <%= f.text_field :mrn %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <br><%= f.submit "Create patient", class: "btn btn-primary" %>
<% end %>
