<h1>Patients</h1>

<%= link_to new_patient_path, class: 'btn' do %>
  <i class="icon-plus"></i> Add new patient
<% end %>
<br><br>

<table id="patients-table" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Bed</th>
      <th>Patient name</th>
      <th>MRN</th>
      <th>&#x2103;</th>
      <th>BP (systolic)</th>
      <th>BP (diastolic)</th>
      <th>HR</th>
      <th>RR</th>
    </tr>
  </thead>

  <tbody>
	<%= render @patients %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('.add-button').click(function() {
      var patient_id = this.getAttribute('data-patient-id');
      var patient_name = this.getAttribute('data-patient-name');
      $('#patient_id').val(patient_id);
      $('#modal-title').html('Adding vitals for ' + patient_name);
    });
  });
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <div class="modal-body">
        <%= form_for @vitals_reading do |f| %>
          <% if @vitals_reading.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@vitals_reading.errors.count, "error") %> prohibited this vitals_reading from being saved:</h2>

              <ul>
                <% @vitals_reading.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          &#x2103;<br>
          <%= f.text_field :temperature_celsius %><br>

          BP (systolic)<br>
          <%= f.text_field :bp_systolic %><br>

          BP (diastolic)<br>
          <%= f.text_field :bp_diastolic%><br>

          Heart rate<br>
          <%= f.text_field :heart_rate %><br>

          Respiratory rate<br>
          <%= f.text_field :respiratory_rate %><br>

          <input type="hidden" id="patient_id" name="patient_id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add vitals reading", class: "btn btn-medium btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->