<p id="notice"><%= notice %></p>

<h1><%= "#{@patient.name}" %></h1>

<%= link_to patients_path, class: 'btn' do %>
  <i class="icon-chevron-left"></i> Back
<% end %>
<br><br>

<script>
  <% %w[temperature_celsius heart_rate respiratory_rate bp].each do |type| %>
    $(function() {
      new Highcharts.Chart({
        chart: {
          renderTo: 'chart_div_<%= type %>'
        },
        title: {
          text: '<%= type.humanize %>'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: '<%= type.humanize %>'
          }
        },
        <% unless type == 'bp' %>
          legend: {
            enabled: false
          },
        <% end %>
        tooltip: {
          formatter: function() {
            return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + Highcharts.numberFormat(this.y, 1) +
            $('<div/>').html('&#x2103;').text();
            }
          },
          series: [{
            name: '<%= type.humanize %>',
            data: <%=
          data = @patient.vitals_readings.reverse.map do |r|
            if type == 'bp'
              [r.created_at.to_i * 1000, r.bp_systolic.to_i]
            else
              [r.created_at.to_i * 1000, r.send(type).to_f]
            end
          end
          raw(data)
        %>
      },
      <% if type == 'bp' %>
        {
          name: 'BP (diastolic)',
          color: '#FF0000',
          data: <%= raw(@patient.vitals_readings.reverse.map { |r| [r.created_at.to_i * 1000, r.bp_diastolic.to_i] }) %>
        }
      <% end %>
      ]
    });
  });
<% end %>
</script>

<ul class="nav nav-tabs" id="myTab">
  <li><a href="#table" data-toggle="tab">Table</a></li>
  <li><a href="#charts" data-toggle="tab">Charts</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="table">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>&#x2103;</th>
          <th>BP (systolic)</th>
          <th>BP (diastolic)</th>
          <th>HR</th>
          <th>RR</th>
        </tr>
      </thead>

      <tbody>
        <% @patient.vitals_readings.each do |reading| %>
          <tr>
            <td><%= reading.created_at %></td>
            <td><%= reading.temperature_celsius %></td>
            <td><%= reading.bp_systolic %></td>
            <td><%= reading.bp_diastolic %></td>
            <td><%= reading.heart_rate %></td>
            <td><%= reading.respiratory_rate %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="charts">
    <% %w[temperature_celsius heart_rate respiratory_rate bp].each do |type| %>
      <div id="chart_div_<%= type %>" style="width: 600px; height: 300px;"></div><br>
    <% end %>
  </div>
</div>

<script>
  $('#mytab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

  $('a[data-toggle="tab"]').on('shown', function (e) {
    redrawChart();
  });

  $('a[data-toggle="tab"]:first').tab('show');
</script>
