<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag('caduceus.png', size: "24x24", alt: 'Caduceus', id: 'logo-image') %>
      <%= link_to 'Patient Vitals', patients_path, id: 'logo' %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Patients", root_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", settings_path(id: current_user) %></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
